h1 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
img {
  float: center;
  border-color: black;
}
li {
  font-size: 40:
}
body {
  margin-left: 75px;
  margin-right: 75px;
}
h2 {
  text-align: center;
  text-color: ;
}
body {
 background-image: url("img/beach.jpg");
 background-color: #cccccc;
}
p {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
a {
  image-orientation: center;
}
